#checkout-container {
    border: 1px solid #d0d0d0;
    width: fit-content;
    padding: 1rem;
    border-radius: 14px;
    background: white;
    box-shadow: 4px 1px 20px 0px #1b1567;
}

/* overriding some default shared styles */
section {
    max-width: 100rem;
}

.active {
    background-color: #ffffff41;
    border-radius: 5px;
    padding: 1.2rem 1rem;
    border-radius: 0;
}

.tip-metrics-container span {
    font-size: 1.7rem;
}